#intro .a_3 {
    color: #00CACA;
    border-bottom: 2px solid;
}

.body img {
    width: 100px;
    height: 150px;
    float: left;
    margin-right: 25px;
    border: 1px solid;
}
.body div {
    width: 100%;
    float: left;
    margin: 10px 0;
}
.body p {
/*    text-indent: 2em;*/
    line-height: 1.6;
}





















