/*#lbt_1 {
    width: 594px;
    height: 300px;
    float: left;
}*/

#demo {
    float: left;
    overflow: hidden;
    width: 594px;
    height: 300px;
}
.table1 {
    margin: 0;
    font-size:0;
}
.table1 img {
    vertical-align:middle;
    float: left;
    margin-right: -1px;
    width: 594px;
    height: 300px;
}






















